@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 3s ease;
}

.animated-gradient {
    background-size: 200% 200%;
    animation: gradient-animation 3s ease infinite;
}

.arrow-container {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 10;
    color: black;
    transition: color 0.5s ease;
}

.arrow-container:hover {
    color: white;
}

.arrow-container.animate-arrow {
    animation: highlight-arrow 1.5s 6s forwards;
}

.pulse {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border: 2px solid rgba(255, 0, 255, 0.5);
    border-radius: 50%;
    animation: pulse-animation 3s 5s ease-out;
}

@keyframes pulse-animation {
    from {
        width: 0;
        height: 0;
        opacity: 0.5;
    }
    to {
        width: 200vmax;
        height: 200vmax;
        opacity: 0;
    }
}

@keyframes highlight-arrow {
    0% {
        color: black;
    }
    50% {
        color: white;
    }
    100% {
        color: black;
    }
}
